<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0517885B14BDE37D00974841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055F060714C634140042055F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055F062B14C636F70042055F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055F064014C637DC0042055F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
